body{
    font-family: 'Karma', serif;
    margin: 0;
    background-image: url(Fundo.jpg);
    background-attachment: fixed;
    background-size: 100%;
    /*background-repeat: no-repeat;
    background-position: 100%;*/
}

a { 
    color: inherit; 
}

nav{
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
}
.nav .div {
    justify-content: space-around;
    align-items: left;
    padding-left: 10px;


}

.texto {
    align-items: center;
    justify-content: space-around;
    display: flex;
}
section{
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 165px;
    padding-bottom: 165px;    
}
footer{
margin: none;
}
img nav{
    width: 100%;
}
#img{
    width: 115px;
}

#QR{
    margin-top: 15px;
    width: 80px;
}

#menu {
    display: flex;
    padding: 26px;
}
li{
    margin-right: 24px; 
    font-family: 'Alfa Slab One', cursive;
}
p{
    margin: 0;
    font-size: 16pt;
}
h1{
    margin: 0;
    padding-top: 10px;
    text-align: center;
}
h1{
    padding: 20px;
    font-family: 'Alfa Slab One', cursive;
}
h2{
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
}
p{
    padding: 0;
    padding-top: 35px;
    padding-bottom: 20px;
}
footer{
    justify-content: center;
    background-color:rgb(0, 0, 0);
    margin: 0;
    display: flex; 
    color:  hsl(208, 85%, 87%);  
}
img{
    width: 175px;
    align-items: center;
    align-content: center;
}
section{
    width: 70%;
    margin: auto;
    padding: 80px;
}
#Baixe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 250px;
}